
#tarto {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
}

#ended,
#lang,
#hobby,
#hol {
    padding: 10px;
}
#hol {
    background-color: gainsboro;
    display: flex;
    text-align:center;
}

    #hol a {
        color: black;
        flex:1 1 auto;
        padding: 25px;
    }

#ended {
    background-color: ghostwhite;
    text-align: left;
}

#lang {
    background-color: lavenderblush;
}

#hobby {
    background-color: linen;
    text-align: left;
}
#tarto {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
}

h1 {
    text-align: center;
    font-style: italic;
}


span {
    font-weight: bold;
    font-size: 20px;
}
body {
    background-color: oldlace;
}

img {
    display: block;
    text-align:center;
}

hr{
    width: 1000px;
    height:5px;
    color: black;
    flex-direction:row;
    display:flex;
}

@media screen and (min-width:800px) {
    #tarto {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 1000px;
    }
    hr {
        width: 1000px;
        height:5px;
        color: black;
        flex-direction: row;
        display:flex;
    }

    #main {
        display: flex;
    }

    #hobby {
        flex: 1 1 75%;
        text-align:left;
        display:flex;
    }

    #hol {
        flex: 1 1 25%;
    }
}